body{
	background:#CFDFEF;
	font:12px/150% "Lucida Grande", Arial, Verdana, Helvetica, sans-serif;
}
.cart {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #727272;
    position: absolute;
    right: 27%;
    top: 21px;
}
.xz {
    width: 50%;
    /* position: relative; */
    float: left;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}
input.ydxm {
    border: 0;
    width: 100%;
    padding: 2px 0 2px 4px;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: 600;
}
.carted {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #727272;
    position: absolute;
    right: 27%;
    top: 21px;
}
ul.yd {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: #727272;
    font-size: 12px;
}
.yd li {
    padding-left: 5px;
    padding: 5px 0 5px 5px;
    text-align: center;
}
.yd li:hover{
	background-color: #ccc;
	color: #fff;
}
ul.ym {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: #727272;
    font-size: 12px;
}
.ym li {
    padding-left: 5px;
    padding: 5px 0 5px 5px;
    text-align: center;
}
.ym li:hover{
	background-color: #ccc;
	color: #fff;
}
.xx{
	height: 252px;
	position: absolute;
	overflow-y: auto;
	display: none;
    width: 100%;
    left:0;
    z-index:999;
}
.titlebox{
    position: relative;
    display: block;
}