@charset "utf-8";
body, ul, dl, 
dd, dt, ol, li, 
p, h1, h2, h3, h4, 
h5, h6, textarea, 
form, select, fieldset, 
table, td, div, input {
	margin:0;
	padding:0;
	-webkit-text-size-adjust: none;
}
html,body{
	background-color:#f4f4f4;
}
h1, h2, h3, h4, h5, h6{
	font-size:12px;
	font-weight:normal
}
body>div{
	margin:0 auto
}
div {
	text-align:left
}
a img {
	border:0
}
body { 
	color: #333; 
	text-align: center; 
	font: 12px "宋体"; 
	background-color: #f1f1f1;
}
ul, ol, li {
	list-style-type:none;
	vertical-align:0
}
a {
	outline-style:none;
	color:#535353;
	text-decoration:none
}
a:hover {
 color: #D40000; 
 text-decoration: none
}
.button {
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding:0.25em 0.6em 0.3em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));
	background: -moz-linear-gradient(top,  #ed1c24,  #A51715);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { 
	background: #b61318; 
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); 
	background: -moz-linear-gradient(top,  #c9151b,  #a11115); 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
	color:#fff;
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
.cor_bs,.cor_bs:hover{
	color:#ffffff;
}
.keBody{
	background:url(../images/bodyBg.jpg) repeat #333;
}
.keTitle{
	height:100px; 
    line-height:100px; 
    font-size:30px; 
    font-family:'微软雅黑'; 
    color:#FFF; text-align:center; 
    background:url(../images/bodyBg3.jpg) 
    repeat-x bottom left; 
    font-weight:normal
}
.kePublic{
	background:#FFF; 
	padding:0px;
}
.keBottom{
	color:#FFF; 
	padding-top:25px; 
	line-height:28px; 
	text-align:center; 
	font-family:'微软雅黑'; 
	background:url(../images/bodyBg2.jpg) repeat-x top left;
	padding-bottom:25px;
}
.keTxtP{
	font-size:16px; 
	color:#ffffff;
}
.keUrl{
	color:#FFF; 
	font-size:30px;
}
.keUrl:hover{ 
	text-decoration: 
	underline;
	 color: #FFF; 
}
.mKeBanner,.mKeBanner div{
	text-align:center;
}
.slider
{
	display:none;
	height:152px!important;
	}
/*用于获取更加体验*/
.focus span{
	width:8px;
	height:8px;
	margin-right:10px;
	border-radius:50%;
	background:#fff;
	font-size:0;
	opacity:0.5;
}
.focus span.current{
	background:#41b5b3;
	opacity:1;
}
/* 效果CSS结束 */
/* content内容的css */

.content{
	width: 100%;
	padding:10px 0 0;
	background-color: #f1f1f1;
}
.wrap{
	width: 97%;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
}
.wrap h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 30px;
    color: #212121;
    font-family:PINGFANG BOLD;
    margin-left: 0.5rem;
}
.imgactive{
	position: relative;
	text-align: center;
	margin: 0 auto;
	height:150px;
}
.bottomtext {
    padding-left: 1%;
}
.bottomtext h3 {
    position: relative;
    top: 6px;
}
.bar.fl {
    position: relative;
    top: 11px;
}
.imgactive a {
	display:block;
	height:150px;
}
.imgactive img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.numb {
    position: absolute;
    bottom: 4px;
    right: 0.5rem;
    color: #fff;
    font-size: 14px;
}
.bar{
	width: 60%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.money {
    margin-right: 1rem;
    color: #f85e5b;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 7px;
}
.progressbar{
	margin-left: 0.5rem;
}
.banner{
	width: 100%;
	position: relative;
	height:152px;
}
.banner img{
	width: 100%;
	height: auto;
	height:152px;
}
.bottombox{
	position: absolute;
	display: block;
	bottom: 10px;
	width: 100%;
}
.bottombox h3{
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: 600;
	padding-left: 1rem;
	text-align: left;
	color: #fff;
}
.rnumb {
    text-align: right;
    font-weight: 600;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 43%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    display: inline-block;
    top: -0.8rem;
    right: 2rem;
}
.wf{
	width: 100%;
	margin:10px auto 0;
	background-color: #fff;
}
.left{
	margin:0 auto;
	width: 65%;
	border-right: 1px solid #ddd;
}
.left .progress {
    width: 80%;
    text-align: left;
    margin: 2px 1rem 0;
    line-height: 20px;
    height:20px;
}
.left.fl.t0 .progress-bar {
    line-height: 17px;
}
span.lcen {
    margin-top: -1px;
    display: inline-block;
}
.db {
    display: block;
    text-align: left;
    padding: 10px 10%;
}
.right.fl {
    margin: 4px auto;
    text-align: center;
    width: 19%;
}
.right img {
    display: block;
    margin: 0 auto;
    text-align: center;
 /*    padding-left: 50%; */
    height: 25px;
}
span.text {
    font-size: 13px;
    text-align: center;
  /*   padding-left: 50%; */
    margin-top: 8px;
    display: table-cell;
    width: 90px;
}
.w90{
	width: 90%;
	margin:0 auto;
	border-bottom: 1px solid #ddd;
}
.lefttitlt{
	font-size: 14px;
	color: #212121;
	width: 25%;
	float: left;
	line-height: 30px;
    padding:9px 0;
}
.rightinfo {
    font-size: 14px;
    color: #727272;
    width: 75%;
    float: right;
    line-height: 30px;
    padding:9px 0;
}
span.rightinfo.mart5 {
    margin-top: -14px;
}
.w90 span{
	display: inline-block;
}
.left.fl .progress-bar {
    text-align: right;
}
.leftimg{
	border-radius: 50%;
	display: block;
	overflow: hidden;
	float: left;
	margin:10px 0;
}
.rt span {
    display: block;
    padding: 5px 0 0 2rem;
    color: #727272;
    font-size: 14px;
    line-height: 30px;
    margin-top: -2px;
}
.rt.fl {
    width: 75%;
    height:100px;
}
.pf{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.mb40{
	margin-bottom: 40px;
}
.btn-info{
	width: 100%;
}
.classinfo{
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	height:160px;
}
.classinfo img{
	width: 100%;
	height: 100%;
}
.centerboxbtn{
	position: absolute;
	top:50px;
	width: 100%;
	margin:0 auto;
	text-align: center;
}
.bdt {
    border-radius: 20px;
    display: block;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: "微软雅黑";
    text-decoration: none;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    height: 30px;
    line-height: 25px;
}
.bdt :hover{
	opacity: 0.7;
}
.centerboxbtn p{
	color: #fff;
	font-family: "微软雅黑";
	padding-top:10px;
	font-size: 13px;

}
.rightbnub {
    position: absolute;
    bottom: 7px;
    right: 0.5rem;
}
.rightbnub span {
    color: #fff;
    font-size: 13px;
    font-family: "微软雅黑";
    font-weight: 600;
    padding-left: 0.2rem;
    position: relative;
    top: 4px;
}
.rightbnub img {
    width: 15px;
    height: 15px;
}
.outbox{
	background-color: #f1f1f1;
	width: 100%;
	padding:10px 0 0 0;
	margin:0;
}
.wbox{
	background-color: #f1f1f1;
	width: 100%;
	padding:0 0 10px 0;	
}
.leftimgbox img{
	width: 100%;
	height: auto;
}
.leftimgbox{
	width: 30%;
}
.innerbox {
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
  
}
.pdo0{
	padding-top:0!important;
	margin-top:0!important;
	
}
.fl.frtextbox {
    padding-left: 1rem;
    padding-top: 10px;
    width: 70%;
}
.fl.frtextbox h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}
span.bianqian1 {
    border: 1px solid #ffcf59;
    text-align: center;
    display: inline-block;
    color: #ffcf59;
}
.tabList.center.mt0 {
    height: 48px;
    width: 100%;
    padding: 0 5%;
}
.bianqian1, .bianqian2 {
    border-radius: 20px;
    margin-right: 1rem;
    font-size: 14px;
    line-height: 23px;
    width: 6rem;
    margin-top: 5px;
    height: 24px;
}
.bianqian2{
	border:1px solid #41b4b2;
	text-align: center;
    display: inline-block;
    color: #41b4b2;
}
.time{
	color: #757575;
	font-size: 0.8rem;

}
.btoom{
	 position: relative;
    top: -6px;
}
p.btoom span.money {
    position: relative;
    top: -1px;
}
.fl.frtextbox.wb50 .money {
    font-size: 18px;
}
.fl.frtextbox p {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    position: relative;
    top: 4px;
    z-index:1;
}
.time {
    color: #757575;
    font-size: 1rem;
    display: inline-block;
    text-align: left;
    font-weight: 600;
    width: 68%;
}
.fl.frtextbox p span.money{
	text-align: right;
	margin-right: 0;
}
.select {
    position: relative;
 /*    padding-top: 5px; */
    background-color: #f0f0f0;
}
.select select {
    width: 30%;
    margin: 0.5rem;
    position: relative;
    z-index: 999;
}
.check{
	display: inline-block;
	width: 32%;
	height: 20px;
	font-size: 12px;
	color: #e1e1e1;
	margin-top: 15px;
	text-align: right;
}
.checked{
	color: #ffc83f !important;
}

.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.top{
	width: 100%;
	margin: 0 auto 5px;
	height: 70px;
	background-color: #fff;
/* 	box-shadow: 0 0 3px rgba(0,0,0,0.7);  */
}
.uptop {
    width: 90%; 
    margin: 0 auto;
}
span.line {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid #ddd;
    text-align: center;
    margin-top: 9px;
}
.uptop em {
    font-size: 16px;
    color: #ddd;
    position: relative;
    top: -16px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    font-style: normal;
}
em.fn18.tl {
    left: 4%;
}
em.fn18.tc {
    left: 44%;
}
em.fn18.tr {
    left: 84%;
}
.center {
    position: relative;
    width: 100%;
    background-color: #fff;
    /* box-shadow: 0 0 2px rgba(0,0,0,0.7); */
    padding: 0 10px 0 10px;
}
.h72{
	height:72px;
}
.h43 {
    height: 43px;
    line-height: 30px;
}
.titleh2 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 1%;
    border-bottom: 1px solid #E1E1E1;
    width: 95%;
    padding-bottom: 5px;
}
.texth4 {
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #E1E1E1;
    width: 95%;
    /* padding-bottom: 5px;
    padding-top: 5px; */
}
.texth4.h72 span.left {
    position: relative;
    top: -23px;
}
.texth4.h72 span.right {
    position: relative;
    top: 6px;
    line-height: 29px;
}
.texth4 .left {
    border: 0;
    padding-right: 2rem;
    display: inline-block;
    width: 25%;
    text-align: right;
    /* line-height: 48px; */
}
.texth4 .right {
    text-align: left;
    display:inline-block;
    width: 65%;
    position: relative;
    /* line-height: 48px; */
}
.dihua {
    display: block!important;
    float: left;
     line-height: 48px;
}
.h46{
	height:46px;
}
.texth4.nob {
    position: relative;
}
span.sexx.right {
    width: 50%;
    display: inline-block;
    /* margin-left: 1rem; */
}
.nob{
	border:0!important;
}
span.right em {
    font-style: normal;
    opacity: 0.6;
    display: inherit;
    margin-right: 1rem;
}
span.right.nuber {
    width: 26%;
    text-algin:left;
    line-height: 48px;
}
.w26{
	 width: 26%!important;
/*     text-algin:left!important;
    padding-top:3px; */
}
span.selectt.right {
    width: 70%;
}
span.right a {
    display: inline-block;
    float: right;
    color: #ffc83f;
}
span.right input {
    border: 0;
    background-color: #f4f4f4;
    width: 100%;
    text-indent: 1rem;
   /*  opacity: 0.4; */
    border-radius: 5px;
    position: relative;
    top: 0px;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 0;
    display: inline-block;
}
.pd10{
	padding:10px;
}
.mll{
	margin-left:-8%;
}
span.leftimgico {
    width: 36%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
span.leftimgico img {
    width: 38%;
    height: auto;
}
.weixinpay {
    margin-top: 20px;
}
span.rightridio {
    width: 60%;
    text-align: right;
}
span.rightridio i{
	float: right;
}
span.rightridio i {
    float: right;
    margin-right: 5%;
    margin-top: 10px;
    color: #fff;
    border:2px solid #848484;
    width: 20px;
    height: 20px;
    line-height: 5px;
    border-radius: 50%;
    font-size: 26px;
}
span.rightridio i.radiobox{
	border: 2px solid #ffc83f;
    color: #ffc83f;
}
.right i {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    font-style: normal;
    color: #ffc83f;
    float: right;
    position: relative;
    left: 2%;
}
.leftimgico i{
	font-style: normal; 
	font-size: 14px;
    font-weight: 600;
    font-family: "微软雅黑";
        width: 59%;
    display: inline-block;
}
.bottomboxed {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.bottomboxed span {
    width: 50%;
    text-align: center;
    display: inline-block;
    padding:10px 0;
        float: left;
        font-size: 18px;
}
.mb25{
	margin-bottom:58px;
}
.redtex{
	color: #f85e5b;
	font-style: normal;
}
.weui_btn.bgf{
	background-color: #ffffff;
	color: #757575;
}
.selected {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top:15%;
}
.selected img {
    width: 30px;
    height: 30px;
}
.write {
    position: absolute;
    right: 0;
    width: 30%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    height: 60%;
    top: 25%;
}
.write a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.write a img {
    margin: 0 auto;
    width: 35px;
    height: 35px;
}
input.nob {
    outline: none;
   	background-color: #f4f4f4;
   	text-indent:1rem;
   
}
.sex {
    display: inline-block;
    margin-right: 10%;
    width: 40px!important;
    height: 25px;
    color: #727272;
    text-align: center;
    background-color: #f3f3f3;
    line-height: 25px;
}
.sexed{
	background-color: #ffc83f;
	color: #fff;
}
.w60 {
    width: 60%!important;
    margin: 0 auto;
}
.leftx{
	float: left;
	width: 27%;
	margin:10px auto;
	border-right: 1px solid #cdcdcd;
	height: 80px;
	padding-top:5px;
}
.rf36{
	color: #f85e5b;
	font-size: 36px;
	padding-left: 18.5%;
}
.center.h48 {
    margin-top: 10px;
    line-height: 48px;
}
.rf18{
	color: #f85e5b;
	font-size: 18px;
}
.leftl{
	float: left;
	width: 80%;
}
.rightt{
	float: right;
	width: 40%;
}
.leftl span,
.rightt span{
	display: block;
}
.g18{
	font-size: 18px;
	color: #757575;
	padding-left: 2rem;
}
.g12{
	font-size: 12px;
	color: #757575;
	padding-left: 2rem;
	margin-top: 10px;
}
.redimg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: -15px;
}
.bg01{
	background:url(../img/ic_sports_choice@2x.png) no-repeat center center;
	background-size: 100% auto;
}
.bg02{
	background:url(../img/ic_sports_unchoice@2x.png) no-repeat center center;
	background-size: 100% auto;
}
.keuser {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -14px;
    right: -21px;
}
.bg1{
	  background: url(../img/ic_order_can.png) no-repeat center right;
	  background-size: cover;
}
.bg2{
	background: url(../img/ic_order_cannot.png) no-repeat center right;
	background-size: cover;
}
.rightb {
    width: 70%;
    float: left;
    position: relative;
}
.tl{
	text-align: left;
}
.cent {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px;
}
.logo {
    text-align: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.logo img,
span.leftname{
	width: 100%;
	height: 100%;
}
span.leftname img {
    height: 20px;
    margin-top: 19px;
    border-right: 1px solid #bdbdbd;
    padding-right: 5px;
}
span.leftname {
    width: 25px;
    /* height: 41px; */
    display: block;
    /* margin: 10px 0; */
    text-align: left;
    position: absolute;
    left: 6px;
}
span.rightinput.nob input {
    text-indent: 1rem;
    background-color: #f4f4f4;
}
.name,
.passwords.nob {
    position: relative;
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: 0 auto;
    height:48px;
}
span.rightinput {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px 0;
    width: 90%;
    float: left;
    margin-top: 10px;
    margin-left: 10%;
    font-size:14px;
}
input.code {
    position: absolute;
    right: 0;
    display: block;
    top: 23px;
    padding: 0 10px;
    background-color: #41b4b2;
    margin-top: -18px;
    color: #fff;
    border: none;
    height: 36px;
    line-height: 36px;
}
.tijiao {
    width: 70%;
    margin: 12px auto 0;
    border-radius: 5px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: #41b5b3;
}
.tijiao a {
    display: block;
    width: 100%;
}
.tijiao button {
    border: 0;
    background-color: #41b5b3;
    color: #fff;
    font-size: 14px;
    /* padding: 10px; */
    width: 100%;
    border-radius: 5px;
}
.borb{
	border-bottom:1px solid #bdbdbd;
	width:74%;
}
.mt25{
	margin-top:25px;
}
.blur {   
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);   
            filter: blur(10px);   
}
.touimg{
	width: 100%;
	height: 255px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
}
.imgborder{
	border:2px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin:0 auto;
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top:65px;
	left:43%;
}
.imgborder img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.upimgt {
    position: relative;
    height: 200px;
    overflow: hidden;
}
.namebox{
	display: block;
	width: 100%;
	text-align: center;
	top:130px;
	font-size: 14px;
	color: #fff;
	position: absolute;
}
.leftico {
    width: 15%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    padding-right: 2%;
}
.leftico img {
    width: 25px;
    height: 25px;
    margin-top: 14px;
}
.rightinfoed{
	width: 80%;
	border-bottom: 1px solid #ddd;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	text-align: left;
}
.rightinfoed.fl a {
    color: #212121;
    font-size: 14px;
}
span.fn18 {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #212121;
    line-height: 46px;
}
.mt0 {
    margin-top: 0;
    padding-bottom: 0;
}
.yrllow{
border-bottom: 2px solid #41b5b3;
}
.tottex {
    font-size: 14px;
    color: #212121;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 10px;
    height: 48px;
    line-height: 29px;
}
.innerBox {
	padding: 0 2% 5px; 
    margin: 0 auto;
    background-color: #fff;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.5); */
/*       height:140px; */
}
.static {
    font-size: 12px;
    color: #727272;
    font-weight: 500;
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: -30px;
}
.leftImgBox {
    width: 150px;
    height: 120px;
    overflow: hidden;
    position: relative;
    top: -3px;
}
.leftImgBox img{
    width: 100%;
    height: 100%;
}
.fl.frtextbox.wb50{
	width: 50%;
	line-height: 25px;
}
.addres {
    font-size: 12px;
    color: #212121;
    font-weight: 600;
    position: relative!important;
    top: 5px!important;
}
.brllow{
	width: 100%;
	border-bottom: 2px solid #3eadab;
}
.tijiao a{
	font-size: 14px;
	color: #fff;
/* 	padding:8px; */
	display: inline-block;
}
.cent.cenede {
    margin-top: 60px;
}
.imgborder:hover{
	opacity: 0.8；
}
.logo img {
    margin-top: -45px;
}
.h span.rightinfo:hover{
	opacity: 0.8;
}
.wraped {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: #212121;
    opacity: 0.2;
    height: 100%;
    top: 0;
}
.listselect {
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    bottom:90%;
    width: 100%;
    z-index: 2;
    padding-left: 5%;
}
.addreslist{
	background-color: #fff;
    margin: 0 auto;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 2;
    padding-left: 5%;
    left:0;
}
.dj{
	left:60%;
}
.listselect ul,
.addreslist ul
.listselect ul li
.addreslist ul li{
	list-style: none;
}
.listselect ul li,
.addreslist ul li{
	display: block;
	color: #212121;
	width: 90%;
	padding:10px 0;
	text-align: center;
	font-size: 14px;
}
.selectedList{
	background-color: #727272;
	color: #fff;
}
.info select{ 
	border:1px #993300 solid; 
	background:#FFFFFF;
}
.info{ 
	margin:5px; 
	text-align:center;
}
.info #show{ 
	color:#3399FF; 
}
.bottom{ 
	text-align:right; 
	font-size:12px; 
	color:#CCCCCC; 
	width:1000px;
}
input#addresing {
    text-align: left;
    width: 75%;
    margin: 0;
	 letter-spacing: -0.4px;
    text-indent: -1.6rem;
}
.addreslist.xs li {
    border: 0;
    width: 75%;
}
.brdius{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin:15px auto 10px;
	overflow: hidden;
}
.brdius img{
	width: 100%;
	height: 100%;
}
.nameed h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
    line-height: 30px;
}
.xxkang{
	text-align: center;
    font-size: 12px;
    color: #727272;
    line-height: 20px;
}
.cen{
	text-align: center;
	margin:0 auto;
	background-color: #fff;
	padding: 15px 0;
}
/*.cen img{
	width: 100px;
	height: 150px;
	margin-right: 10px;
	margin-left: 10px;
}*/
.upxx{
	background-color: #fff;
}
.baner {
    padding-top: 25px;
}
.cur{
	width: 49%;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	color: #212121;
	font-weight: 600;
	padding-bottom: 10px;
}
.cur.activeed{
	border-bottom: 2px solid #41b4b2;
	color: #41b4b2;
}
.mt10{
	margin-top:10px;
}
.tabinfo{
	font-size: 14px;
	line-height: 30px;
	padding-left: 1.5rem;
	color: #212121;
}
.animation{
	width: 100%;
	position:absolute;
	animation:myfirst 2s;
	-moz-animation:myfirst 2s; /* Firefox */
	-webkit-animation:myfirst 2s; /* Safari and Chrome */
	-o-animation:myfirst 2s; /* Opera */
}
.table.select-type {
    width: 90%;
    text-align: center;
    margin: 0 auto 10px;
}
@keyframes myfirst
{
	0%    {top:0;}
	25%	  {top:50%;}
	75%	  {top:50%;}
	100%  {top:0%;}
}

@-moz-keyframes myfirst /* Firefox */
{
	0%    {top:0;}
	25%	  {top:50%;}
	75%	  {top:50%;}
	100%  {top:0%;}
}
@-webkit-keyframes myfirst  /*Safari and Chrome*/
{
	0%    {top:0;}
	25%	  {top:50%;}
	75%	  {top:50%;}
	100%  {top:0%;}
}
@-o-keyframes myfirst /* Opera */
{
	0%    {top:0;}
	25%	  {top:50%;}
	75%	  {top:50%;}
	100%  {top:0%;}
}
.lvbtn {
    background-color: #41b5b3;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 50%;
    font-size: 18px;
    border-radius: 0;
}
span.babtn {
    background-color: #fff;
}
.leftboxr {
    width: 70%;
    height: 100px;
    position: absolute;
    top: 0;
}
.cursuoed,#tab {
    background-color: #f1f1f1;
}
span.right em.y {
    display: inline;
    text-align: right;
    position: absolute;
    right: 0;
    color:#ffc83f;
}
.pd15{
    padding:11px 0;
}
.bigimg{
    position: absolute;
    left: 14%;
    top:220px;
    -webkit-transform:scale(5,4);
    -moz-transform:scale(5,4);
    -transform:scale(5,4);
}
.cen a img{
    width: 100%;
    height: 100%;
}
.cen a {
    width: 26%;
    height: 100px;
    margin-right: 2.5%;
    margin-left: 0.5%;
    display: inline-block;
}
.cenede {
    background-color: #f4f4f4;
    margin-top: -18px;
    padding-top: 25px;
}
.forget{
	font-size:14px;
	color:#bdbdbd;
	text-align:center;
	padding-top:25px;
	background-color:#f4f4f4;
}
.forget a{
	border-bottom:1px solid #bdbdbd;
	color:#bdbdbd;
}
.pab {
    bottom: 13px;
    position: absolute;
    left: 44%;
}
h3.fn18{
	font-size:18px;
}
.wf.pd15 {
    height: 72px;
}
.t0 .money{
	top:-4px;
    padding: 0 1rem;;
}
.left.fl.t0 {
    height: 50px;
    width:81%;
}
.pdt0{
	padding-top:0;
}
.left.fl.t0 .progress {
    width: 74%;
}
.h48{
	height:48px;
	line-height:48px;
}
.btn-infox{
	background-color:#41b5b3;
	color:#fff;
	width:100%;
	height:49px;
	line-height:49px;
	font-size:16px;
	display:block;
	text-align:center;
}
.mt10{
	margin-top:10px;
}